body {
    background-color: lightgoldenrodyellow;
    font-size: 40px;
    font-family: 'Cinzel', serif;
}

button {
    padding: 8px 800px;
    background-color: beige;
    font-size: 40px;
    border: 4px solid;
    font-family: 'Caveat', cursive;
}

p {
    border: 8px solid;
    padding: 4px 80px;
    font-family: 'Dancing Script', cursive;
    background-color: beige;
}

img {
    border: 8px solid;
}

#pics {
    font-size: 80px;
    margin: auto;
    text-align: center;
}

button:hover {
    background-color: lightgoldenrodyellow;
}